
.uno{
    color:red;
    fontfamily:'times new roman',times,serif;
    font-weight:600;

}

body{ background-color: aquamarine;width: 80%; 0 auto;
}

    h1{
        text-align: center;
        background-color: blue;
        font-style: white;    
    
    }    
h3 {
    text-decoration: underline;
    font-style: #2503bd;

}


    

      .dos{
        color:red;
        fontfamily:'times new roman',times,serif;
        font-weight:600;
      }

      .tres{
        color:red;
        font-family:'times new roman',times,serif;
        font-weight: 600;
      }

      .cuatro{
        color:red;
        font-family: 'times new roman', times, serif;
        font-weight: 600;

      }

      .cinco{
        color:red;
        font-family:'times now roman', times, serif;
        font-weight: 600;
      }

      .seis{
        color:red;
        font-family:'times new roman', times,serif;
        font-weight: 600;
      }

      .siete{
        color:red;
        font-family:'times new roman', times, serif;
        font-weight: 600;
      }

h1{
    background-color: blue color: white
}
        

      